{
"report_id":"SAP_HANA_LANDSCAPE_{{ sid }}",
"use_hdb":false, 
"blades":["{{ inventory_hostname }}"],
"tests": [{
            "package": "LandscapeTest",
            "test_timeout": 0,
            "id": 1,
            "config": {},
            "class": "EvalOs"
        }
]
}
