{
"report_id":"SAP_HANA_{{ inventory_hostname|upper }}_STORAGE",
	"use_hdb":false, 
	"blades":["{{ inventory_hostname }}"],
	"tests": [{
		"package": "FilesystemTest",
		"test_timeout": 0,
		"id": 1,
			"config": {"mount":{"{{ inventory_hostname }}":["/hana/data/{{ sid }}/mnt00001"]
			},
			"parameter":{"max_parallel_io_requests":"128",
				"async_read_submit":"on",
				"async_write_submit_active":"on",
					"async_write_submit_blocks":"all"},
				"duration":"long"
			},
			"class": "DataVolumeIO"
	},
{
	"package": "FilesystemTest",
	"test_timeout": 0,
		"id": 3,
		"config": {"mount":{"{{ inventory_hostname }}":["/hana/log/{{ sid }}/mnt00001"]
		},
			"parameter":{"max_parallel_io_requests":"128",
				"async_read_submit":"on",
				"async_write_submit_active":"on",
				"async_write_submit_blocks":"all"},
			"duration":"long"
		},
			"class": "LogVolumeIO"
}
]
}
